!!! 5
html
  head
    title #{title} | Authenticate
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    hgroup
      h1
       a(href='/') Authenticate
      h2= title
    div#main!= body